### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### NuxtJS template
# Generated dirs
dist
.nuxt
.nuxt-*
.output
.gen

# Node dependencies
node_modules

# System files
*.log

